<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <!-- Netlify form -->
    <form name="contact" method="POST" data-netlify="true" action="/" netlify-honeypot="bot-field" hidden>
      <input type="email" name="email" placeholder="Email">
      <textarea name="message" placeholder="message"></textarea>
      <input name="bot-field" hidden>
    </form>
    {{ APP }}
  </body>
</html>
