<template>
  <div class="bg-gray-700 p-6 overflow-hidden min-h-screen">
    <a id="about" name="about" class="anchor" />
    <div class="container mx-auto py-6 lg:p-6 text-gray-100">
      <div class="flex flex-col ">
        <h2 class="text-4xl md:text-6xl font-mono" data-sal="slide-right" data-sal-delay="50">
          About
        </h2>
        <div class="flex-none md:flex justify-between mt-4">
          <div class="w-full lg:w-2/5 md:mr-8">
            <p data-sal="slide-right" data-sal-delay="100" data-sal-duration="500">
              Hi! I'm a social guy from Sweden who works with web development, often doing fullstack even though I lean more towards back-end technologies.
              I'm currently available for consulting in larger projects, taking on new clients as well as recruitment if it aligns with my goals and ideals.
            </p>
            <p class="mt-4" data-sal="slide-right" data-sal-delay="200" data-sal-duration="500">
              I’m driven by a yearning for learning new things — professionally but also generally in life — as well as for solving problems with creative solutions. With over a decade in the IT business as well as advanced usage since childhood, I am confident in solving any technical task. During my time in ICT customer service, I learned how to interpret and communicate with others that have various levels of technical understanding.
            </p>
            <p class="mt-4" data-sal="slide-right" data-sal-delay="300" data-sal-duration="500">
              I have grown fond of Microservices and Serverless/Cloud functions, both in terms of development, architecture or design.
            </p>
            <p class="mt-4" data-sal="slide-right" data-sal-delay="400" data-sal-duration="500">
              Outside of work, I enjoy socializing and spending time out in nature - whether that's hiking, biking, canoeing, or cross-country skiing. I often bring my camera, and photograph mainly wildlife and landscapes.
            </p>
          </div>
          <div class="w-full mt-8 md:mt-0 md:ml-8 lg:w-2/5" data-sal="slide-left" data-sal-delay="400" data-sal-duration="500">
            <img class="w-full" src="~/assets/images/profile-niclas-soderkvist.jpg" alt="Profile image of Niclas">
          </div>
        </div>
        <h4 class="text-xl mt-6 mb-2 font-mono" data-sal="slide-right" data-sal-delay="400" data-sal-duration="500">
          Highlighted Skills & Technologies
        </h4>
        <div class="flex flex-col md:flex-row mb-6">
          <div class="inline-block bg-gray-900 p-6 mb-6 md:mr-6 md:mb-0" data-sal="slide-right" data-sal-delay="400" data-sal-duration="500">
            <p>Python, PHP, C#/.NET Core 2</p>
            <p>VueJS/Nuxt, JS, jQuery</p>
            <p>HTML5, CSS/SCSS, Bulma </p>
          </div>
          <div class="bg-gray-900 p-6" data-sal="slide-left" data-sal-delay="400" data-sal-duration="500">
            <p>AWS, Linux, Windows, REST API</p>
            <p>Git, Webpack, Grunt, Bash</p>
            <p>Wordpress, Django, Flask</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
</style>
