<template>
  <div class="bg-gray-800 p-6 overflow-hidden h-screen">
    <a id="contact" name="contact" class="anchor" />
    <div class="container mx-auto py-6 lg:p-6 text-gray-100 h-full">
      <div class="flex flex-col justify-between h-full">
        <h2 class="text-4xl md:text-6xl font-mono" data-sal="slide-right" data-sal-delay="50" data-sal-duration="500">
          Get in touch!
        </h2>
        <div class="flex-none md:flex justify-between mt-4">
          <div class="w-full lg:w-2/5 md:mr-8" data-sal="slide-right" data-sal-delay="200" data-sal-duration="500">
            <div class="text-xl md:text-2xl hover:text-white">
              <font-awesome-icon :icon="['fas', 'envelope-square']" class="text-xl mr-1 mt-3 hover:text-white" />
              niclas.soderkvist@gmail.com
            </div>
            <div class="text-xl md:text-2xl hover:text-white">
              <font-awesome-icon :icon="['fas', 'phone-square']" class="text-xl mr-1 mt-3 hover:text-white" />
              +46 73 1500051
            </div>

            <div>
              <a href="https://www.linkedin.com/in/soderkvist/" target="_blank">
                <font-awesome-icon :icon="['fab', 'linkedin']" class="text-5xl mr-1 mt-3 hover:text-white" />
              </a>
              <a href="https://wa.me/46731500051/" target="_blank">
                <font-awesome-icon :icon="['fab', 'whatsapp-square']" class="text-5xl mr-1 mt-3 hover:text-white" />
              </a>
              <a href="https://m.me/soderkvist/" target="_blank">
                <font-awesome-icon :icon="['fab', 'facebook-messenger']" class="text-5xl mr-1 mt-3 hover:text-white" />
              </a>
              <a href="https://gitlab.com/soderkvist" target="_blank">
                <font-awesome-icon :icon="['fab', 'gitlab']" class="text-5xl mr-1 mt-3 hover:text-white" />
              </a>
              <a href="https://facebook.com/soderkvist" target="_blank">
                <font-awesome-icon :icon="['fab', 'facebook-square']" class="text-5xl mr-1 mt-3 hover:text-white" />
              </a>
              <a href="https://instagram.com/niclassoderkvist" target="_blank">
                <font-awesome-icon :icon="['fab', 'instagram-square']" class="text-5xl mr-1 mt-3 hover:text-white" />
              </a>
            </div>
          </div>
          <div class="w-full mt-8 lg:w-2/5 md:ml-8 sm:mt-0 " data-sal="slide-left" data-sal-delay="300" data-sal-duration="500">
            <form
              name="contact"
              method="POST"
              action="/"
              data-netlify="true"
              netlify-honeypot="bot-field"
              @submit.prevent="onSubmit"
            >
              <div>
                <input v-model="email" class="w-full max-w-xl mb-2 bg-transparent hover:bg-gray-900 text-gray-100 font-semibold hover:text-white py-2 px-4 border-2 border-gray-100 rounded" type="email" name="email" placeholder="Email">
                <input v-model="botfield" name="bot-field" hidden>
              </div>
              <div>
                <textarea v-model="message" class="w-full h-32 max-w-xl bg-transparent hover:bg-gray-900 text-gray-100 font-semibold hover:text-white py-2 px-4 border-2 border-gray-100 rounded" name="message" placeholder="Message" />
              </div>
              <button class="mb-2 bg-transparent hover:bg-gray-900 text-gray-100 font-semibold hover:text-white py-2 px-4 border-2 border-gray-100 rounded" type="submit">
                Send
              </button>
            </form>
            <p class="mt-2">
              {{ successMessage }}
            </p>
          </div>
        </div>
        <div class="mt-auto">
          <p data-sal="slide-up" data-sal-delay="300">
            Built with <a class="text-white hover:underline" target="_blank" href="https://nuxtjs.org/">Nuxt</a> and <a class="text-white hover:underline" target="_blank" href="https://tailwindcss.com/">Tailwind</a>, hosted on <a class="text-white hover:underline" target="_blank" href=" https://www.netlify.com/">Netlify</a>. You can check out the repo <a class="text-white hover:underline" target="_blank" href="https://gitlab.com/soderkvist/soderkvist.dev">here.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    message: '',
    email: '',
    successMessage: '',
    botfield: ''
  }),
  methods: {
    encode (data) {
      return Object.keys(data)
        .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
        .join('&')
    },
    onSubmit () {
      // TODO: Validation
      try {
        fetch('/', {
          method: 'POST',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          body: this.encode({ 'form-name': 'contact', email: this.email, message: this.message, 'bot-field': this.botfield })
        })
          .then(() => {
            this.successMessage = 'You message has been sent'
          })
          .catch((error) => {
            this.successMessage = 'Wooops something went wrong, try again or send me a regular email at niclas@soderkvist.dev'
            console.log(error)
          })
      } catch (error) {
        console.log('Error:', error)
        this.successMessage = 'Wooops something went wrong, try again or send me a regular email at niclas@soderkvist.dev'
      }
    }
  }
}
</script>

<style>
</style>
