<template>
  <div class="bg-gray-800 p-6 overflow-hidden">
    <a id="experience" name="experience" class="anchor" />
    <div class="container py-6 lg:p-6 mx-auto text-gray-100">
      <div class="flex flex-col min-h-screen">
        <h2 class="text-4xl md:text-6xl font-mono mb-2" data-sal="slide-right" data-sal-delay="50" data-sal-duration="500">
          Experience
        </h2>
        <p class="mb-8" data-sal="slide-right" data-sal-delay="50" data-sal-duration="500">
          PDF CV available <a class="text-white hover:underline" href="/CV-NiclasSoderkvist.pdf" download>here</a>.
        </p>
        <h3 class="text-2xl md:text-4xl font-mono" data-sal="slide-right" data-sal-delay="300" data-sal-duration="500">
          Relevant work experience
        </h3>
        <div class="timeline relative">
          <div class="timeline-entry">
            <div class="timeline-entry-icon" />
            <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
              <h4 class="text-2xl mb-3 font-mono">
                Web Developer
              </h4>
              <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                Agilitet, 2018-08 - present
              </h5>
              <h5 class="timeline-subtitle text-xl mb-4 font-mono">
                Örebro, Sweden
              </h5>
              <p class="text-base">
                A wide role in a small company, apart from the highlighted cases below, I have been involved in the business development of the company; writing offers and estimates, publishing processes and taking on new clients.
              </p>
            </div>
          </div>
          <div class="timeline-content">
            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Case: Education website // Agilitet
                </h4>
                <p class="text-base">
                  Doing maintenance development for one of Sweden’s largest education companies using <strong>Python</strong> and <strong>Django</strong>, as well as writing the full system documentation. More recently, we have been working on a redesign, where my main responsibilities have been management, and building new as well as modifying existing CMS Plugins.
                </p>
              </div>
            </div>

            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Case: Project & Planning-tool // Agilitet
                </h4>
                <p class="text-base">
                  Building a new Project & Planning-tool to facilitate work orders, integrated with invoicing and external accounting. I designed and helped implement the <strong>REST API</strong>, which was built in <strong>.NET Core 2</strong>. This was my first project using <strong>C#.NET</strong>. For most of the API resources I built, I also implemented them in the front-end with <strong>VueJS</strong>, <strong>SCSS</strong> & <strong>Bulma</strong>.
                </p>
              </div>
            </div>

            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Case: Debut Album // Agilitet
                </h4>
                <p class="text-base">
                  We were tasked with building the web version of the debut album for an upcoming artist by one of the largest music companies in the world.  We built an "interactive hacking game" to unlock the playlist for the album, as well as for sending live greetings from the listener's country. The technology stack we used was <strong>Python</strong> (for the API), <strong>MongoDB</strong>, <strong>WebSockets</strong> in <strong>NodeJS</strong>, and <strong>Nuxt</strong>, hosted on <strong>AWS S3/CloudFront</strong>, <strong>EC2</strong> and <strong>Lambda</strong>. I handled all infrastructure and backend development.
                </p>
              </div>
            </div>

            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Case: Album release // Agilitet
                </h4>
                <p class="text-base">
                  We were tasked by the same music company to build a small web service for a famous Swedish artist, that let the visitor take a selfie and return it with the same look as their new album. I built the API in <strong>Python/Flask</strong> and used Pillow for the image manipulation.
                </p>
              </div>
            </div>

            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Case Wordpress sites and misc // Agilitet
                </h4>
                <p class="text-base">
                  In between other projects I have been involved in several <strong>PHP/Wordpress-sites</strong> — everything from content hubs to more complex websites and webshops — designed and built with <strong>Sage</strong> and <strong>Bedrock</strong>, using a few selected libraries and plugins like CarbonFields, <strong>WooCommerce</strong> and WPML. I have furthermore been part of building smaller helper systems in <strong>PHP/Laravel</strong>, <strong>AWS Lambda/Python</strong> and <strong>Magento</strong> development.
                </p>
              </div>
            </div>

            <!-- <div class="timeline-hidden" :class="{'timeline-show': showMore }"> -->
            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Service Desk Specialist
                </h4>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Fazer, 2016-06 - 2018-07
                </h5>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Stockholm, Sweden
                </h5>
                <p class="text-base">
                  In my specialist role I focused on collaboration tools, mainly telecommunication, as well as procurement of IT equipment. I had the full responsibility for the Swedish telecom-part, both co-leading projects with the Telecom & Collaboration Manager, as well as giving the end-users outstanding local support and short lead times when it comes to work orders and handling incidents.
                </p>
              </div>
            </div>

            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Owner/Service Desk Administrator
                </h4>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Wiz IT/Fazer, 2011 - 2016
                </h5>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Stockholm, Sweden
                </h5>
                <p class="text-base">
                  I started my own company to do consultant work as a Service Desk Administrator at Fazer, until 2014 when I was hired by them. I handled a broad spectrum of hardware and software systems in a <strong>Windows environment</strong>. This has helped me to excel in my communication with customers who have various levels of technical understanding, as well as structuring and prioritizing my work.
                  <br><br>
                  As a side business I started a Raspberry Pi webshop when the single-board computer first was released in September 2012, handling the full chain.
                </p>
              </div>
            </div>
            <!-- </div>
            <button
              class="inline-block mb-2 mt-auto ml-16 lg:m-4 lg:ml-16 bg-transparent text-center font-mono hover:bg-gray-900 text-gray-100 font-semibold hover:text-white py-2 px-4 border-2 border-gray-100 rounded"
              @click="showMore = !showMore"
            >
              {{ showMore ? 'less' : 'more' }} experience.log
            </button> -->
          </div>
        </div>
        <h3 class="text-4xl mt-8 font-mono" data-sal="slide-right" data-sal-delay="200" data-sal-duration="500">
          Education
        </h3>
        <div class="timeline">
          <div class="timeline-content">
            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Software Engineering with emphasis on Web Programming - Associate Degree
                </h4>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Blekinge Institute of Technology, 2016 - 2018
                </h5>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Distance (Karlskrona, Sweden)
                </h5>
                <p class="text-base">
                  The programme focused on building websites and services. Some of the languages and tools used were <strong>Python</strong>, <strong>PHP</strong>, <strong>JS/NodeJS</strong>, <strong>CSS/SCSS</strong>, <strong>Bash</strong>, <strong>Git</strong>, <strong>Webpack</strong>, and <strong>Docker</strong>. We worked in a <strong>Linux environment</strong>.
                </p>
              </div>
            </div>

            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  General Mechanical Engineering / CNC
                </h4>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Yrkesakademin, 2006 - 2007
                </h5>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Ludvika, Sweden
                </h5>
              </div>
            </div>

            <div class="timeline-entry">
              <div class="timeline-entry-icon" />
              <div data-sal="slide-left" data-sal-delay="200" data-sal-duration="500">
                <h4 class="text-2xl mb-3 font-mono">
                  Electronics and Computer technologies - Gymnasium
                </h4>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Högbergsskolan VBU, 2001 - 2004
                </h5>
                <h5 class="timeline-subtitle text-xl mb-2 font-mono">
                  Ludvika, Sweden
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    showMore: false
  })
  // TODO: Hover over empty timeline entry
}
</script>
<style lang="scss" scoped>
  $spacer: 20px;
  $dark: #292A2D;
  $darker: #252627;

  .timeline-hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  .timeline-show {
    animation: 1.5s show linear forwards;
  }

  @keyframes show {
    0% {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
    100% {
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  .timeline {
    position: relative;
    margin-top: $spacer;
    margin-bottom: $spacer;
    padding-top: $spacer;

    .timeline-content {
      &::before {
        background-color: #A5A9B3;
        content: '';
        margin-left: -1px;
        position: absolute;
        padding-top: 20px;
        top: 0;
        left: $spacer;
        width: 2px;
        height: 100%;
      }
    }

    &-entry {
      margin-left: 3rem;
      max-width: 672px;
      padding: 1rem;
      z-index: 20;

      &:hover {
        background-color: $darker;

        h4 {
          color: #fff;
        }

        .timeline-entry-icon {
          background-color: #fff;
        }
      }

      &-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #A5A9B3;
        outline: 10px solid $dark;
        margin-left: -1px;
        position: absolute;
        // top: 0;
        left: 6px;
        z-index: 10;
      }
    }
  }

</style>
