<template>
  <div class="bg-gray-800 p-6 overflow-hidden h-screen-orig">
    <div class="container mx-auto py-6 lg:p-6 text-gray-100 h-full">
      <div class="flex flex-col justify-center h-full">
        <div class="text-grey-darker text-center mt-auto">
          <div class="typewriter">
            <p class="font-mono text-3xl sm:text-5xl lg:text-6xl cursor">
              Hello World
            </p>
          </div>
          <div class="intro-fade">
            <p class="font-mono text-2xl sm:text-5xl lg:text-6xl">
              My name is Niclas Söderkvist, <br>
              I'm a Web Developer.
            </p>
          </div>
        </div>
        <div class="text-center mt-auto">
          <a href="https://www.linkedin.com/in/soderkvist/" target="_blank">
            <font-awesome-icon :icon="['fab', 'linkedin']" class="text-3xl mr-1 mt-3 hover:text-white" />
          </a>
          <a href="https://wa.me/46731500051/" target="_blank">
            <font-awesome-icon :icon="['fab', 'whatsapp-square']" class="text-3xl mr-1 mt-3 hover:text-white" />
          </a>
          <a href="https://m.me/soderkvist/" target="_blank">
            <font-awesome-icon :icon="['fab', 'facebook-messenger']" class="text-3xl mr-1 mt-3 hover:text-white" />
          </a>
          <a href="mailto:niclas.soderkvist@gmail.com" target="_blank">
            <font-awesome-icon :icon="['fas', 'envelope']" class="text-3xl mr-1 mt-3 hover:text-white" />
          </a>
          <a href="https://gitlab.com/soderkvist" target="_blank">
            <font-awesome-icon :icon="['fab', 'gitlab']" class="text-3xl mr-1 mt-3 hover:text-white" />
          </a>
          <a href="https://facebook.com/soderkvist" target="_blank">
            <font-awesome-icon :icon="['fab', 'facebook-square']" class="text-3xl mr-1 mt-3 hover:text-white" />
          </a>
          <a href="https://instagram.com/niclassoderkvist" target="_blank">
            <font-awesome-icon :icon="['fab', 'instagram-square']" class="text-3xl mr-1 mt-3 hover:text-white" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted () {
    const intro = document.querySelector('.intro-fade')

    intro.addEventListener('animationend', () => {
      document.querySelector('.typewriter p').classList.remove('cursor')
      document.querySelector('.menu-arrow').classList.add('menu-arrow-slide')
    })
  }
}
</script>
<style lang="scss" scoped>
  .min-w-button {
    min-width: 15rem;
  }

  .intro-fade {
    opacity: 0;
    animation: 0.7s intro 2.7s forwards;
  }

  @keyframes intro {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  .typewriter {
    display: inline-block;
  }

  .typewriter p {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    border-right: .15em solid transparent;
  }

  .cursor {
    animation:
      typing 2.5s steps(20, end) forwards,
      blink-caret .70s step-end infinite;
    border-right: .15em solid #A5A9B3;
  }

  @keyframes typing {
    0% { width: 0; }
    99% { width: 100%; border-color: none;}
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #A5A9B3; }
  }

</style>
