<template>
  <div class="bg-gray-700 p-6 overflow-hidden min-h-screen">
    <a id="photography" name="photography" class="anchor" />
    <div class="container mx-auto py-6 lg:p-6 text-gray-100">
      <div class="flex flex-col ">
        <h2 class="text-4xl md:text-6xl font-mono" data-sal="slide-right" data-sal-delay="50" data-sal-duration="500">
          Photography
        </h2>
        <div class="flex-none md:flex justify-between mt-4">
          <div class="w-full lg:w-2/5 mb-8">
            <p data-sal="slide-right" data-sal-delay="100" data-sal-duration="500">
              A small sample of my photography.
            </p>
          </div>
        </div>
        <div class="lightbox" :class="{'lightbox-hide' : showLightbox}" @click="hideLightbox">
          <div class="lightbox-image" data-sal="zoom-in" :data-sal-delay="0" data-sal-duration="400" />
        </div>
        <div class="hidden md:flex content-start md:content-between flex-wrap">
          <div v-for="(image, index) in images" :key="index" class="photo-box mb-4">
            <img
              v-lazy="'https://soderkvist-dev-images.s3.eu-north-1.amazonaws.com/' + image"
              class="object-cover cursor-pointer"
              :data-original-image="'https://soderkvist-dev-images.s3.eu-north-1.amazonaws.com/' + image"
              data-sal="zoom-in"
              :data-sal-delay="index * 100"
              data-sal-duration="500"
              @click="showOriginalImage"
            >
            <!--
              data-sal="zoom-in"
              :data-sal-delay="index * 100"
              data-sal-duration="500" -->
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between mb-2 align-stretch md:hidden">
            <font-awesome-icon :icon="['fas', 'arrow-alt-circle-left']" class="text-5xl mr-1 mt-3 block" @click="prev" />
            <font-awesome-icon :icon="['fas', 'arrow-alt-circle-right']" class="text-5xl mr-1 mt-3 block" @click="next" />
          </div>
          <div v-for="i in [currentIndex]" :key="i" class="photo-box mb-4 md:hidden">
            <div class="mobile-image-transition">
              <img
                :src="'https://soderkvist-dev-images.s3.eu-north-1.amazonaws.com/' + currentImage"
                class="object-cover cursor-pointer"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showLightbox: false,
      images: [
        'abearwithaview.webp', 'alaskan-caviar.webp', 'arctic-fox-1.webp',
        'arrow-mountain-2.webp', 'babybear.webp', 'bear-gull.webp',
        'beastofbeasts.webp', 'bibionidae.webp', 'bug.webp', 'busa.webp',
        'daladis.webp', 'earlywalk.webp', 'fight1.webp', 'finishhim.webp',
        'fox.webp', 'glacier2.webp', 'kolufossar3.webp',
        'lesser-stag-beetle-bokoxe.webp', 'massive-glacier-bear-1.webp',
        'merlin.webp', 'mountan-bw-1.webp', 'pig.webp',
        'polarbear-3-2048.webp', 'polarbear-8.webp', 'puffin.webp',
        'reynisfjara-reynisdrangar.webp', 'sealclose-square.webp',
        'snowy-mountain.webp', 'spider1.webp', 'stellar-sea-lion.webp',
        'svalbard-mountain-1.webp', 'trut.webp', 'vattenfallklossar.webp',
        'vivel-2048.webp', 'walrus-1.webp', 'walrus-2.webp'
      ],
      currentIndex: 0
    }
  },
  computed: {
    currentImage () {
      return this.images[Math.abs(this.currentIndex) % this.images.length]
    }
  },
  methods: {
    hideLightbox () {
      document.querySelector('body').classList.remove('disable-scroll')
      this.showLightbox = false
      const image = document.querySelector('.lightbox-image img')

      if (image) {
        image.parentNode.removeChild(image)
      }
    },

    showOriginalImage (imgElement) {
      document.querySelector('body').classList.add('disable-scroll')
      this.showLightbox = true
      const imgUrl = imgElement.currentTarget.getAttribute('data-original-image')

      const newImage = document.createElement('img')
      newImage.setAttribute('src', imgUrl)

      document.querySelector('.lightbox-image').appendChild(newImage)
    },

    next () {
      this.currentIndex += 1
    },
    prev () {
      this.currentIndex -= 1
    }

  }
}
</script>
<style lang="scss">

.photo-box img {
  flex: 1 100%;
  width: 100%;

  @media (min-width: 768px) {
    flex: 1 0 45%;
    width: 276px;
    height: 197px;
    margin-right: 1rem;
  }

  @media (min-width: 1024px) {
    flex: 1 0 21%;
    width: 276px;
    height: 197px;
  }
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  .lightbox-image {
    img {
      margin: 0 auto;
      max-width: 95%;
      max-height: 85vh;
    }
  }
}

.mobile-image-transition {
  transition-duration: .5s;
  transform: scale(.5);
  opacity: 0;
  animation: show-image 0.5s forwards;
}

@keyframes show-image {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.lightbox-hide {
  display: flex;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}
</style>
