/* Remove menu height padding */
.min-h-screen {
  min-height: calc(100vh - 80px);
}

.h-screen {
  height: calc(100vh - 80px);
}

.h-screen-orig {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.anchor {
  display: block;
  position: relative;
  top: -104px; /* Menu + padding*/
  visibility: hidden;
}
