<template>
  <div id="top">
    <div id="header" class="bg-gray-900 w-full fixed top-0 z-50">
      <div class="container mx-auto">
        <nav class="flex items-center justify-between content-center flex-wrap p-3 text-gray-100 relative">
          <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-mono text-3xl tracking-tight text-gray-100 touch-user-select"><a href="#top" @click="showMenu = false">
              <img class="w-12 inline m-1 ml-2 mb-1" src="~/assets/images/logo.png">oderkvist.dev
            </a></span>
          </div>
          <font-awesome-icon :icon="['fas', 'long-arrow-alt-right']" class="text-3xl menu-arrow hidden lg:inline-block" />
          <div
            class="toggle-nav touch-user-select"
            :class="{'show-nav': showMenu}"
            @click="showMenu = !showMenu"
          >
            <span />
            <span />
            <span />
            <span />
          </div>
          <div class="w-full h-full flex hidden menu" :class="{ 'show-menu': showMenu }">
            <div class="">
              <a
                href="#top"
                class="inline-block text-3xl lg:text-5xl m-0 text-center hover:border-b mt-4 text-teal-200 hover:text-white touch-user-select"
                @click="showMenu = false"
              >
                <font-awesome-icon :icon="['fas', 'arrow-circle-up']" class="text-4xl lg:text-5xl" />
              </a>
              <div>
                <a
                  href="#about"
                  class="inline-block text-3xl leading-tight lg:text-5xl m-0 text-center border-b-4 border-transparent hover:border-white mt-4 text-teal-200 hover:text-white touch-user-select"
                  @click="showMenu = false"
                >
                  <font-awesome-icon :icon="['fas', 'address-card']" class="text-3xl lg:text-5xl mr-1 mt-3 hover:text-white" />
                  About
                </a>
              </div>
              <div>
                <a
                  href="#experience"
                  class="inline-block text-3xl leading-tight lg:text-5xl m-0 text-center border-b-4 border-transparent hover:border-white mt-4 text-teal-200 hover:text-white touch-user-select"
                  @click="showMenu = false"
                >
                  <font-awesome-icon :icon="['fas', 'code']" class="text-3xl lg:text-5xl mr-1 mt-3 hover:text-white icon-max-width" />
                  Experience
                </a>
              </div>
              <div>
                <a
                  href="#photography"
                  class="inline-block text-3xl leading-tight lg:text-5xl m-0 text-center border-b-4 border-transparent hover:border-white mt-4 text-teal-200 hover:text-white touch-user-select"
                  @click="showMenu = false"
                >
                  <font-awesome-icon :icon="['fas', 'camera']" class="text-3xl lg:text-5xl mr-1 mt-3 hover:text-white" />
                  Photography
                </a>
              </div>
              <div>
                <a
                  href="#contact"
                  class="inline-block text-3xl leading-tight lg:text-5xl m-0 text-center border-b-4 border-transparent hover:border-white mt-4 text-teal-200 hover:text-white touch-user-select"
                  @click="showMenu = false"
                >
                  <font-awesome-icon :icon="['fas', 'envelope']" class="text-3xl lg:text-5xl mr-1 mt-3 hover:text-white" />
                  Contact
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <nuxt />
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      showMenu: false
    }
  }
}
</script>
<style lang="scss" scoped>
  $spacer: 20px;
  $dark: #292A2D;
  $darker: #252627;
  $light: #A5A9B3;

  .touch-user-select {
      -webkit-touch-callout: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent
    }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    right: 100%;
    background-color: rgba(41, 42, 45, 1);
    transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
    transition: all 700ms ease 0ms;
  }

  .show-menu {
    transform: translate(100%, 0);
  }

  .toggle-nav {
    right: 15px;
    position: relative;
    z-index: 100;
    top: 3px;
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &:hover span {
      background-color: #fff;
    }

    @media (min-width: 768px) {
      width: 40px;
      top: 0;
    }
  }

  .toggle-nav span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $light;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
  }

  .toggle-nav span:nth-child(1) {
    top: 0;
  }

  .toggle-nav span:nth-child(2),
  .toggle-nav span:nth-child(3) {
    top: 9px;

    @media (min-width: 768px) {
      top: 12px;
    }
  }

  .toggle-nav span:nth-child(4) {
    top: 18px;

    @media (min-width: 768px) {
      top: 24px;
    }
  }

  .toggle-nav.show-nav span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;

    @media (min-width: 768px) {
      top: 12px;
    }
  }

  .toggle-nav.show-nav span:nth-child(2) {
    transform: rotate(45deg);
  }

  .toggle-nav.show-nav span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .toggle-nav.show-nav span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;

    @media (min-width: 768px) {
      top: 12px;
    }
  }

  .icon-max-width {
    max-width: 30px;

    @media (min-width: 1024px) {
      max-width: 49px;
    }
  }

  .menu-arrow {
    position: absolute;
    top: 25px;
    right: 17%;
    opacity: 0;
  }

  .menu-arrow-slide {

    // transition: all 700ms ease 0ms;
    // transform: translateX(50px);
    animation: arrow-slide 700ms ease;
  }

  @keyframes arrow-slide {
    0% {
      right: 17%;
    }

    99% {
      right: 8%;
      opacity: 1;
    }
    100% {
      display: none;
    }
  }
</style>
