<template>
  <div>
    <page-head />
    <about />
    <experience />
    <photography />
    <contact />
  </div>
</template>

<script>
import sal from 'sal.js'
import PageHead from '~/components/PageHead.vue'
import About from '~/components/About.vue'
import Experience from '~/components/Experience.vue'
import Contact from '~/components/Contact.vue'
import Photography from '~/components/Photography.vue'

export default {
  components: {
    PageHead,
    Experience,
    About,
    Contact,
    Photography
  },
  mounted () {
    sal({
      threshold: 0.5,
      once: false
    })
  }
}
</script>
<style lang="scss">
@import '~/node_modules/sal.js/dist/sal.css';
</style>
